[user]
    name = Alex Pelavin
    email = ajpele@gmail.com
[core]
    excludesfile = ~/.globalignore
    editor = /usr/bin/vim
[push]
    default = simple
[color]
    ui = auto
[github]
    user = Lazzer64
[alias]
    graph = log --graph --decorate --format=format:'%C(auto)%h %s %C(dim white)- %an (%ar) %C(auto)%d'
